.hotel-item {
  border: 1px solid #eee;
  border-radius: 3px;
  margin: 1rem 0;
  background: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  > a {
    color: #333;
    text-decoration: none;
  }
  .hotel-item-details {
    display: flex;
    h4 {
      font-size: 1.4rem;
      margin: 0.7rem 0 0 0;
    }
    .hotel-item-carousel {
      width: 15rem;
      height: 10rem;
      margin-right: 1.3rem;
      img {
        height: auto;
        width: 15rem;
        max-width: 500px;
        min-height: 10rem;
      }
      .slider-control-centerleft,
      .slider-control-centerright,
      .slider-control-bottomcenter {
        transition: opacity 0.3s ease;
      }
      &:not(:hover) {
        .slider-control-centerleft,
        .slider-control-centerright,
        .slider-control-bottomcenter {
          opacity: 0;
        }
      }
    }
  }
}

.rating {
  padding: 0;
  list-style: none;
  margin: 0.3rem 0;
  li {
    display: inline-block;
  }
}

.amenities {
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
    margin-right: 1.5rem;
    margin-top: 0.5rem;
    span {
      margin-left: 0.6rem;
      text-transform: capitalize;
    }
  }
}
