.landing {
  .landing-search {
    display: flex;
    margin: 0 -1rem;
    flex-direction: row-reverse;

    .landing-search-filters {
      padding: 1rem;
      width: 17rem;

      form {
        margin-top: 1rem;
      }
    }

    .landing-search-result {
      flex-grow: 1;
      padding: 1rem;

      ul {
        list-style: none;
        padding: 0;
      }
    }
  }
}

@media (max-width: $mobile) {
  .landing {
    .landing-search {
      display: block;
    }
  }
}
