.landing {
  padding: 20px 0;
  h2 {
    margin: 0;
  }
  .landing-search {
    display: flex;
    margin: 0 -1rem;
    flex-direction: row-reverse;

    .landing-search-filters {
      padding: 1rem;
      width: 17rem;

      form {
        margin-top: 1rem;
        position: sticky;
        top: 140px;
      }
    }

    .landing-search-result {
      flex-grow: 1;
      padding: 1rem;
      width: 80%;

      ul {
        list-style: none;
        padding: 0;
      }
    }
  }
}

@media (max-width: $mobile) {
  .landing {
    .landing-search {
      display: block;
      .landing-search-result {
        width: auto;
      }
    }
  }
}
