$bg-color: #fafafa;
$header-color: #d2f2ff;
$footer-color: #35312e;

$green: #007f33;
$orange: #fe7f2d;
$red: #d93732;
$blue: #1280ab;
$blue-hover: #1e99ca;
$green-hover: #1eaf58;

$mobile: 700px;

$font-family: 'Muli', /* Safari for OS X and iOS (San Francisco)*/ -apple-system,
  /* Chrome < 56 for OS X (San Francisco)*/ BlinkMacSystemFont, /* Windows*/ 'Segoe UI', /* Android*/ 'Roboto',
  /* Basic web fallback*/ 'Helvetica Neue', Arial, sans-serif, /* Emoji fonts*/ 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol';
